body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.card {
    cursor: pointer;
    /* Set width of cards */
    width: 150px;
    /* Set up Border */
    border: 1px solid #EF9A9A;
    /* Slightly Curve edges */
    border-radius: 4px;
    /* Fixes the corners */
    overflow: hidden;
    /* Children use Flexbox */
    display: flex;
    /* Rotate Axis */
    flex-direction: column;
    margin: 1.5em;
}

.card-header {
    color: #D32F2F;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #EF9A9A;
    background-color: #FFEBEE;
    padding: 5px 10px;
}

.card-main {
    /* Children use Flexbox */
    display: flex;
    /* Rotate Axis to Vertical */
    flex-direction: column;
    /* Group Children in Center */
    justify-content: center;
    /* Group Children in Center (+axis) */
    align-items: center;
    /* Add padding to the top/bottom */
    padding: 15px 0;
}

.material-icons {
    font-size: 36px;
    color: #D32F2F;
    margin-bottom: 5px;
}

.main-description {
    color: #D32F2F;
    font-size: 12px;
    text-align: center;
}